*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  line-height: 1.6;
  color: #fff;
}

.header {
  background-size: cover;
  background-position: center;
  height: 92vh;
  transition: all 1s;
}

.header__logo {
  height: 2.18rem;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
  height: 6.4rem;
  background-color: rgba(0, 0, 0, .3);
  position: sticky;
  top: 0;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 62%;
  padding-left: 4.4rem;
  position: relative;
}

.header__search-input {
  height: 3.3rem;
  width: 100%;
  padding: .6rem 1rem .6rem 0;
  border: none;
  
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #ced4da;
  justify-self: flex-start;
}

.header__search-input:focus {
  outline: none;
  background-color: #e9ecef;
}

.header__search-input:focus + .header__search-btn {
  outline: none;
  background-color: #e9ecef;
}

.header__search-btn {
  background-color: #ced4da;
  height: 3.3rem;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  padding: 0 1.1rem;
}

.fa-search {
  font-size: 1.8rem;
  color: #495057;
}

.btn {
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
}

.btn-full {
  font-weight: 600;
  background-color: #fff;
  padding: .75rem 1.85rem;
  border-radius: 3px;
  transition: color .2s;
}

.btn-large {
  padding: 1.9rem 2.8rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.btn-full:hover {
  color: #868e96;
}

.header__actions .btn-ghost {
  margin-right: 2rem;
  color: #fff;
}

.header__text-box {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading__primary--main {
  display: block;
  font-size: 5.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.heading__primary--sub {
  display: block;
  font-size: 2.52rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 7rem;
}

.down-icon {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  text-align: center;
  transform: translateY(3px);
}

.footer {
  background-color: #000000;
  height: 8vh;
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex: 0 0 84%;
}

.footer__nav-item {
  position: relative;
}

.footer__nav-link {
  text-decoration: none;
  color: #868e96;
  font-size: 1.4rem;
}

.footer__social-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-left: 3rem;
}

.footer__social-link {
  color: #868e96;
  text-decoration: none;
  font-size: 2rem;
}

.footer__nav-link:hover,
.footer__social-link:hover {
  color: #ced4da;
}

.dropup {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  position: absolute;
  right: -1.5rem;
  bottom: 3rem;
  width: 13.8rem;
  padding: 1.2rem 0;
}

.dropup--hidden {
  display: none;
}

.dropup__section ul {
  list-style: none;
}

.dropup__section-link {
  padding-bottom: 2px;
}

.dropup__section-link a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #343a40;
  display: block;
  padding: 0 1.2rem;
}

.dropup__section-link a:hover {
  background-color: #ced4da;
}